
/* this modification is for the index.html  -start- */

#theplan p{
	text-align: center !important;
	direction: ltr !important;
	line-height: 1.5;
	text-transform: uppercase;
	margin: 0 0 1.5rem 0;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 20px;
	display: inline-flexbox;
}

h2{
	font-family:'Courier New', Courier, monospace;
	font-display: swap;
}

.innersection a:hover{
	text-decoration: underline;
	color: hsl(203, 92%, 75%);
}

.innersection a{
	color: #1b2142f7;
	font-size: 1.04rem;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: none;
}

.innersection h3{
	color:rgb(53, 113, 182);
	font-weight: bold;
	margin-top:	3px;
}
/*the start of the main*/
main
{
    direction: ltr;
	display : flex;
	flex-flow :  wrap;
}
section, div
{
	min-height : 150px;
	min-width : 150px;
}

div.innersection {
  margin: 10px;
  background-color: white;
  box-shadow: 2px 3px 3px 2px rgba(3, 46, 92, 0.2);
  border-color: lightgrey;
  border-width: 1px;
  border-style: solid;
  transition-duration: 2s;
  -webkit-transition-duration: 2s;
}

div.innersection:hover {
  box-shadow: 2px 3px 3px 2px rgba(3, 46, 92, 0.7);
  border-color: grey;
}

#block1
{
	
	flex-basis : 25%;
}

#block2
{
	
	flex-basis : 25%;
}

#block3
{
	
	flex-basis : 25%;
}

#block4
{
	
	flex-basis : 25%;
}

div.innersection p{
margin: 10px;
}
div.innersection h3{
    text-align: center;
}

@media (max-width : 800px)
{
	#block1, #block2, #block3, #block4{
		flex-basis : 50%;
	}
	
}

@media (max-width : 600px)
{
	#block1,#block2,#block3,#block4
	{
		flex-basis : 100%;
	}
}

/*the end of  the main*/

/* this modification is for the *plane.html*  -end- */

/* this modification is for the *Downcors.html*  -start- */
.Down{
	direction: ltr;
	margin: 20px;
}
.Matier p {
	text-align: center;
	font-size: large;
	text-transform: capitalize;
	color: hsla(240, 54%, 37%, 0.986);
}

.Down h3{
	color: rgb(64, 64, 231);
}
ul {
	list-style: none;
	margin: 0 0 2rem 0;
	padding-left: 1rem; 
}

ul li {
    padding-left: 0.325rem; 
}



