
/* this modification is for the *PageDon.html*  -start- */

.Down{
  direction: ltr !important;
  margin: 7%;

}

.Down a{
  color:black;
}

p{
  padding: 5px;
}

div.innersection {
  margin: 10px;
  background-color: white;
  box-shadow: 2px 3px 3px 2px rgba(3, 46, 92, 0.2);
  border-color: lightgrey;
  border-width: 1px;
  border-style: solid;
  transition-duration: 2s;
  -webkit-transition-duration: 2s;
}

div.innersection:hover {
  box-shadow: 2px 3px 3px 2px rgba(3, 46, 92, 0.7);
  border-color: grey;
}

 #blok1
{
	flex-basis : 25%;
}
@media (max-width : 800px)
{
	#blok1
  {
		flex-basis : 50%;
	}
	
}
@media (max-width : 600px)
{
	#blok1
	{
		flex-basis : 100%;
	}
}